 <p><b> Supported Operating Systems: </b><br>
        · Windows XP/7 (binary and source code)<br>
        · Ubuntu Linux 12.04 (binary and source code)<br>
        · MacOSx 10.6+ (binary/experimental and source code)<br>
        · Any other system with a Python 2.7 installation (source code only)<br>
 </p>

 <p><b> Supported Filetypes: </b><br>
        · ALV-6000 correlator files (*.ALV) (single and multiple runs / tested in autocorrelation mode) <br>
        · Confocor3 files (*.fcs)<br>
        · Correlator.com (*.SIN): Those are files usually created by e.g. Flex02-01D correlators.<br>
        · PyCorrFit (*.csv): This is a simple .csv file format.        
 </p>

 <p><b> Fitting: </b><br>
        · Least squares fit using the Levenberg-Marquard algorithm<br>
        · Weighted fitting with standard deviation<br>
        · Parameter error estimation <br>
        · Large set of pre-defined model functions <br>
        · Import of user-defined model functions <br>
 </p>

 <p><b> Tools and Features: </b><br>
        · Averaging of curves<br>
        · Background correction<br>
        · Batch processing<br>
        · Curve selection<br>
        · Global fitting (shared parameters)<br>
        · Parameter simulation<br>
        · Session management<br>
 </p>
        
 <p><b> Verbosity: </b><br>
        · Includes python shell access<br>
        · Documented and structured source code<br>
        · Information window shows all parameters of a measurement<br>
        · Update helper checks for new program version

 </p>


 <p><b> Screenshots: </b><br>
 
<table>
    
    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Desktop</td>
      <td><a target = "screenshot"  href="./images/Screenshot_Desktop.png">
        <img src="./images/Screenshot_Desktop.png" width="200"> </a></td>
    </tr>

    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Main <br> window</td>
      <td><a target = "screenshot" href="./images/Screenshot_Main.png">
          <img src="./images/Screenshot_Main.png" width="200"> </a></td>
    </tr>

    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Background <br>correction</td>
      <td><a target = "screenshot" href="./images/Screenshot_Background_correction.png">
          <img src="./images/Screenshot_Background_correction.png" width="200"> </a></td>
    </tr>

    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Graphics <br> output <br> (matplotlib)</td>
      <td><a target = "screenshot" href="./images/Screenshot_Graphics_output.png">
          <img src="./images/Screenshot_Graphics_output.png" width="200"> </a></td>
    </tr>


    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Curve <br> selection</td>
      <td><a target = "screenshot" href="./images/Screenshot_Select_curves.png">
          <img src="./images/Screenshot_Select_curves.png" width="200"> </a></td>
    </tr>

    <tr><td  valign="top">&nbsp; &nbsp; · </td>
      <td  valign="top">Trace <br> view</td>
      <td><a target = "screenshot" href="./images/Screenshot_Trace_view.png">
          <img src="./images/Screenshot_Trace_view.png" width="200"> </a></td>
    </tr>

</table>
