<img src="./images/PyCorrFit_logo_dark.png"  height="60" width="205">
<p>data analysis software for fluorescence correlation spectroscopy (FCS).</p>

<ul>
  <li><a href = "https://github.com/paulmueller/PyCorrFit/releases/latest">Download <strong>Latest Release</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyCorrFit/wiki/PyCorrFit_doc.pdf">Download <strong>Documentation</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyCorrFit/wiki/Tutorial">Take <strong>Tutorial</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyCorrFit/wiki">View <strong>Wiki</strong></a></li>
  <li><a href = "https://github.com/paulmueller/PyCorrFit">View on <strong>GitHub</strong></a></li>
</ul>
